
DEBUG=true

SERVER_HOST="localhost"
SERVER_PORT=8000
BASE_URL="http://localhost:8080"

JWT_SECRET="secret"
JWT_ALGORITHM="HS256"

DB_MAIN_PATH="./data/main.sqlite"
DB_MAIN_CONFIG="./resources/databases/main"

LOG_PATH="./data/logs"
